flows.json
[{"id":"b830962c.d8ca28","type":"tab","label":"ebusd","disabled":false,"info":""},{"id":"fdcf5ef4.578018","type":"tab","label":"sdm630","disabled":false,"info":""},{"id":"d1017bfd.9a4d68","type":"tab","label":"ebus2","disabled":false,"info":""},{"id":"cea00169.50bf88","type":"subflow","name":"Log","info":"","in":[{"x":50,"y":30,"wires":[{"id":"1d0e0beb.77d204"}]}],"out":[{"x":540,"y":190,"wires":[{"id":"2f19db2c.06de34","port":0}]}]},{"id":"8e69b0b0.66c858","type":"subflow","name":"HcStarts","info":"","in":[{"x":50,"y":100,"wires":[{"id":"1bd9f9f.e87d686"}]}],"out":[{"x":440,"y":270,"wires":[{"id":"699aa5d6.c4b9e4","port":0}]}]},{"id":"30d50c1c.6fdb4c","type":"subflow","name":"Push","info":"","in":[{"x":50,"y":30,"wires":[{"id":"94d84f37.d1ca2"}]}],"out":[{"x":429,"y":259,"wires":[{"id":"52f3aaa6.ef20c4","port":0}]}]},{"id":"4a184b82.8c2c8c","type":"mqtt-broker","z":"","broker":"nas.fritz.box","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"8292dd52.c65958","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Home","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2e54dc7c.160fac","type":"ui_tab","z":"","name":"Heizung","icon":"dashboard","order":1},{"id":"cd081c84.5bacb","type":"ui_group","z":"","name":"Betriebsstunden","tab":"2e54dc7c.160fac","disp":true,"width":"6"},{"id":"d2c61125.face98","type":"ui_group","z":"","name":"Temperaturen","tab":"2e54dc7c.160fac","disp":true,"width":"6"},{"id":"5d10f9cf.61fcd8","type":"ui_group","z":"","name":"Außentemperatur","tab":"2e54dc7c.160fac","disp":true,"width":"6"},{"id":"fd5fd0cd.3498e8","type":"middleware","z":"","middleware":"http://server.fritz.box/middleware.php"},{"id":"d49457d1.dab6a","type":"function","z":"b830962c.d8ca28","name":"Detect Changes","func":"var values = flow.get(\"values\") || {}, \n    timestamps = flow.get(\"timestamps\") || {},  \n    oldValue = values[msg.topic],\n    oldTimestamp = timestamps[msg.topic],\n    skip;\n\nmsg.old = {\n    timestamp: oldTimestamp,\n    value: oldValue\n}\n\nskip = \n    oldValue !== undefined &&\n    (Math.abs(msg.payload - oldValue) < 0.5) &&\n    oldTimestamp !== undefined &&\n    (Math.abs(Date.now() - oldTimestamp) < 10*60 * 1e3);\n\nif (skip)\n    return null;\n\n/*\nnode.warn(\"-- \" + msg.topic + \" --\\n\" + \n    \"val: \"+msg.payload +\"\\n\"+ \n    \"old: \"+oldValue +\"\\n\"+ \n    \"tsp: \"+(Date.now())+\"\\n\"+\n    \"old: \"+oldTimestamp+\"\\n\"+\n    (skip? \"true\":\"false\")\n);\n*/\n\nvalues[msg.topic] = msg.payload;\nflow.set(\"values\", values);\n\ntimestamps[msg.topic] = Date.now();\nflow.set(\"timestamps\", timestamps);\n\nreturn msg;","outputs":1,"noerr":0,"x":134,"y":555,"wires":[["7f4b6b7c.a3e084"]]},{"id":"d5ae0548.01173","type":"http request","z":"cea00169.50bf88","name":"Send","method":"POST","ret":"txt","url":"{{{uri}}}","tls":"","x":500,"y":30,"wires":[["2f19db2c.06de34"]]},{"id":"1d0e0beb.77d204","type":"function","z":"cea00169.50bf88","name":"Payload","func":"// prepare json array\nmsg.payload = JSON.stringify([\n    [Date.now(), msg.payload]\n]);\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":30,"wires":[["1da8ba2f.f6d24e"]]},{"id":"2f19db2c.06de34","type":"function","z":"cea00169.50bf88","name":"Remove HTTP 200","func":"if (msg.statusCode == 200)\n    return null;\n    \nreturn msg;","outputs":1,"noerr":0,"x":390,"y":190,"wires":[[]]},{"id":"d924f1a0.37d77","type":"mqtt in","z":"b830962c.d8ca28","name":"","topic":"ebusd/bai/+","qos":"2","broker":"4a184b82.8c2c8c","x":103,"y":89,"wires":[["64b5691f.7a6de8","2057f378.443cc4"]]},{"id":"37549c70.9e68a4","type":"mqtt in","z":"b830962c.d8ca28","name":"","topic":"ebusd/700/+","qos":"2","broker":"4a184b82.8c2c8c","x":102.5,"y":148,"wires":[["64b5691f.7a6de8","2057f378.443cc4"]]},{"id":"64b5691f.7a6de8","type":"function","z":"b830962c.d8ca28","name":"Extract topic","func":"// topic\nvar topic = msg.topic.split(\"/\");\nmsg.topic = topic[topic.length-1].replace('.', '');\n\n// payload\nif (msg.payload == \"off\")\n    msg.payload = 0;\nelse if (msg.payload == \"on\")\n    msg.payload = 100;\n\n// filter\nif ([\"Mode\", \"SetMode\", \"DateTime\"].indexOf(msg.topic) === 0)\n    return null;\n\nif (msg.payload === undefined || msg.playload === \"\" || msg.payload == \"nan\" || Number.isNaN(msg.payload) || msg.payload === null || Buffer.isBuffer(msg.payload))\n    return null;\n\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":89,"wires":[["c2a7d3ad.a9172","1d8f055f.550693","caa311fd.93fdc8"]]},{"id":"7f4b6b7c.a3e084","type":"subflow:cea00169.50bf88","z":"b830962c.d8ca28","name":"","x":354,"y":555,"wires":[["e6387476.6bf878"]]},{"id":"e6387476.6bf878","type":"debug","z":"b830962c.d8ca28","name":"","active":false,"console":"false","complete":"true","x":524,"y":555,"wires":[]},{"id":"c2a7d3ad.a9172","type":"function","z":"b830962c.d8ca28","name":"Status01","func":"if (msg.topic !== \"Status01\")\n    return msg;\n    \nvar registers = ['HeatingFlowTemp', 'HeatingReturnTemp', 'OutsideTemp', null, null, 'VentState'];\nvar values = msg.payload.split(';');\nvar result = [];\n\nregisters.forEach(function(reg, i) {\n    if (!reg)\n        return;\n    \n    var value = values[i];\n    \n    if (reg == \"VentState\") {\n        var hcvent = 0, hwcvent = 0;\n        switch (value) {\n            case \"on\":\n                hcvent = 100;\n                break;\n            case \"4\":\n                hwcvent = 100;\n                break;\n        }\n        result.push({\n            topic: \"HcVent\",\n            payload: hcvent\n        }, {\n            topic: \"HwcVent\",\n            payload: hwcvent\n        });\n        return;\n    }\n    \n    result.push({\n        topic: reg,\n        payload: value\n    });\n});\n\nreturn [result];","outputs":1,"noerr":0,"x":120,"y":240,"wires":[["81ce943a.f07278","414802f.08133fc","bb3296f9.19bf6"]]},{"id":"81ce943a.f07278","type":"switch","z":"b830962c.d8ca28","name":"HcStarts","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"HcStarts|HcUnderHundredStarts","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":2,"x":114,"y":335,"wires":[["1bb080e4.0cfc5f"],["a091a2f7.7b8908"]],"outputLabels":["HcStarts","other"]},{"id":"1bd9f9f.e87d686","type":"switch","z":"8e69b0b0.66c858","name":"HcStarts Type","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"HcStarts","vt":"str"},{"t":"eq","v":"HcUnderHundredStarts","vt":"str"}],"checkall":"true","outputs":2,"x":210,"y":100,"wires":[["c174a15a.0d3d9"],["699aa5d6.c4b9e4"]]},{"id":"54ac0b91.a85c2c","type":"mqtt out","z":"8e69b0b0.66c858","name":"HcUnderHundredStarts","topic":"ebusd/bai/HcUnderHundredStarts/get","qos":"","retain":"","broker":"4a184b82.8c2c8c","x":524,"y":235,"wires":[]},{"id":"c174a15a.0d3d9","type":"function","z":"8e69b0b0.66c858","name":"Store HcStarts","func":"global.set(\"HcStarts\", parseInt(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":329,"y":171,"wires":[["54ac0b91.a85c2c"]]},{"id":"699aa5d6.c4b9e4","type":"function","z":"8e69b0b0.66c858","name":"Add HcUnderHundredStarts","func":"var hcStarts = parseInt(global.get(\"HcStarts\"));\n\nif (hcStarts) {\n    msg.payload = hcStarts + parseInt(msg.payload);\n    msg.topic = \"HcStarts\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":241,"y":271,"wires":[[]]},{"id":"1bb080e4.0cfc5f","type":"subflow:8e69b0b0.66c858","z":"b830962c.d8ca28","name":"Calc HcStarts","x":324,"y":305,"wires":[["a091a2f7.7b8908"]]},{"id":"46b8a248.e6d01c","type":"switch","z":"b830962c.d8ca28","name":"UI","property":"register","propertyType":"msg","rules":[{"t":"eq","v":"HcHours","vt":"str"},{"t":"eq","v":"HcStarts","vt":"str"},{"t":"eq","v":"HeatingFlowTemp","vt":"str"},{"t":"eq","v":"Hc1FlowTemp","vt":"str"},{"t":"eq","v":"Hc2FlowTemp","vt":"str"},{"t":"eq","v":"OutsideTemp","vt":"str"}],"checkall":"false","outputs":6,"x":124,"y":715,"wires":[["b50d6ece.27c9"],["46eb3afc.872a6c"],["748c464a.3af8e8"],["748c464a.3af8e8"],[],["3bdc302c.4211e8"]]},{"id":"b50d6ece.27c9","type":"ui_text","z":"b830962c.d8ca28","group":"cd081c84.5bacb","order":2,"width":0,"height":0,"name":"HcHours","label":"HcHours","format":"{{msg.payload}}","layout":"row-spread","x":344,"y":685,"wires":[]},{"id":"46eb3afc.872a6c","type":"ui_text","z":"b830962c.d8ca28","group":"cd081c84.5bacb","order":1,"width":0,"height":0,"name":"HcStarts","label":"HcStarts","format":"{{msg.payload}}","layout":"row-spread","x":344,"y":725,"wires":[]},{"id":"748c464a.3af8e8","type":"ui_chart","z":"b830962c.d8ca28","name":"Temp","group":"d2c61125.face98","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":334,"y":765,"wires":[[],[]]},{"id":"3bdc302c.4211e8","type":"ui_gauge","z":"b830962c.d8ca28","name":"OutsideTemp","group":"5d10f9cf.61fcd8","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value|number:1}}","min":"-10","max":"35","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":354,"y":805,"wires":[]},{"id":"ead43caa.356f88","type":"http request","z":"30d50c1c.6fdb4c","name":"Send to Push","method":"POST","ret":"txt","url":"http://server.fritz.box:5582","tls":"","x":280,"y":130,"wires":[["52f3aaa6.ef20c4"]]},{"id":"94d84f37.d1ca2","type":"function","z":"30d50c1c.6fdb4c","name":"Payload","func":"var uuid = msg.uuid;\nvar value = +msg.payload;\nvar time = Date.now();\n\nmsg.headers = {\n    \"Content-type\" : \"application/json\"\n}\n\nvar json = {\n    data: [{\n        uuid: uuid,\n        tuples: [\n            [time, value]\n        ]\n    }]\n}\n\nmsg.payload = JSON.stringify(json);\n\nreturn msg;","outputs":1,"noerr":0,"x":194.5,"y":73.00000762939453,"wires":[["ead43caa.356f88"]]},{"id":"ce52f050.9c67a8","type":"subflow:30d50c1c.6fdb4c","z":"b830962c.d8ca28","name":"","x":354,"y":495,"wires":[["597f5b93.5c174c","46b8a248.e6d01c"]]},{"id":"1fd27844.5f8e18","type":"inject","z":"fdcf5ef4.578018","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":120,"y":80,"wires":[["cd2c5940.da04b8"]]},{"id":"cd2c5940.da04b8","type":"http request","z":"fdcf5ef4.578018","name":"SDM API","method":"GET","ret":"txt","url":"http://uv.fritz.box/minuteavg","tls":"","x":270,"y":80,"wires":[["6fe6cf9a.bf3c68"]]},{"id":"d86cb220.0ff2c8","type":"debug","z":"fdcf5ef4.578018","name":"","active":true,"console":"false","complete":"true","x":520,"y":330,"wires":[]},{"id":"6fe6cf9a.bf3c68","type":"json","z":"fdcf5ef4.578018","name":"","pretty":true,"x":400,"y":80,"wires":[["e6fd7fde.40e358"]]},{"id":"e6fd7fde.40e358","type":"function","z":"fdcf5ef4.578018","name":"Extract","func":"var res = [],\n    sdm = 'SDM630(full).';\n\n// Leistungen\n\nvar bezug = 0, einspeisung = 0, erzeugung = 0;\n\nfor (var i=1; i<=3; i++) {\n    res.push({\n        topic: sdm + \"Meter1.L\" + i,\n        payload: msg.payload[0].Power[\"L\"+i]\n    });\n    if (i <= 2) res.push({\n        topic: sdm + \"Meter2.L\" + i,\n        payload: msg.payload[1].Power[\"L\"+i]\n    });\n    \n    var value = msg.payload[0].Power[\"L\"+i];\n    if (value > 0)\n        bezug += value;\n    else\n        einspeisung -= value;\n    erzeugung -= msg.payload[1].Power[\"L\"+i];\n}\n\nres.push({\n    topic: sdm + \"Erzeugung\",\n    payload: erzeugung\n});\nres.push({\n    topic: sdm + \"Bezug\",\n    payload: bezug\n});\nres.push({\n    topic: sdm + \"Einspeisung\",\n    payload: einspeisung\n});\n\nreturn [res];\n","outputs":1,"noerr":0,"x":530,"y":80,"wires":[["560bef02.2b49d8"]]},{"id":"ed270bc6.c53cc8","type":"function","z":"fdcf5ef4.578018","name":"Delta","func":"if (!msg.topic)\n    return msg;\n\nvar values = flow.get(\"values\") || {}, \n    timestamps = flow.get(\"timestamps\") || {},  \n    oldValue = values[msg.topic],\n    oldTimestamp = timestamps[msg.topic],\n    skip;\n\n// at least 1 minute, even if value change\nif (\n    oldTimestamp !== undefined && \n    (Math.abs(Date.now() - oldTimestamp) < 1*60 * 1e3) &&\n    msg.skip !== false\n)\n    return null;\n\nif (\n    (oldValue !== undefined && (Math.abs(msg.payload - oldValue) < 0.001)) &&\n    (oldTimestamp !== undefined && (Math.abs(Date.now() - oldTimestamp) < 10*60 * 1e3)) &&\n    msg.skip !== false\n) {\n    return null;\n}\n\nvalues[msg.topic] = msg.payload;\nflow.set(\"values\", values);\n\ntimestamps[msg.topic] = Date.now();\nflow.set(\"timestamps\", timestamps);\n\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":330,"wires":[["61fbcb0a.f9b474"]]},{"id":"212809ae.5262fe","type":"subflow:30d50c1c.6fdb4c","z":"fdcf5ef4.578018","x":360,"y":240,"wires":[["fd737e52.02acf8"]]},{"id":"52f3aaa6.ef20c4","type":"function","z":"30d50c1c.6fdb4c","name":"Remove HTTP 200","func":"if (msg.statusCode == 200)\n    return null;\n    \nreturn msg;","outputs":1,"noerr":0,"x":360.3888854980469,"y":196.44444274902344,"wires":[[]]},{"id":"b048a36b.1eb06","type":"comment","z":"fdcf5ef4.578018","name":"SDM Logging","info":"Collect 2 SDM360 meters","x":90,"y":30,"wires":[]},{"id":"a091a2f7.7b8908","type":"uuid","z":"b830962c.d8ca28","name":"","middleware":"fd5fd0cd.3498e8","x":524,"y":345,"wires":[["ce52f050.9c67a8","d49457d1.dab6a"]]},{"id":"597f5b93.5c174c","type":"debug","z":"b830962c.d8ca28","name":"","active":false,"console":"false","complete":"true","x":524,"y":495,"wires":[]},{"id":"bfbb51aa.b99f28","type":"mqtt out","z":"b830962c.d8ca28","name":"ebusd get","topic":"","qos":"","retain":"","broker":"4a184b82.8c2c8c","x":544,"y":955,"wires":[]},{"id":"6a2e31f2.c6b41","type":"function","z":"b830962c.d8ca28","name":"Generate Topics","func":"var registers = {\n'700': [\n\t// 'SystemFlowTemp', // Status01\n\t'Hc1ActualFlowTempDesired',\n\t'Hc1FlowTemp',\n\t'Hc1MixerMovement',\n\t'Hc1PumpStatus',\n\t'Hc2ActualFlowTempDesired',\n\t'Hc2FlowTemp',\n\t'Hc2MixerMovement',\n\t'Hc2PumpStatus',\n\t'HwcStorageTemp',\n\t'HwcTempDesired'\n],\n'bai': [\n\t'CirPump',\n\t'FlowTempDesired',\n\t'HcHours',\n\t'HwcHours',\n\t'ModulationTempDesired',\n\t// 'Statenumber',\n\t// 'TargetFanSpeed',\n\t// 'TargetFanSpeedOutput'\n]};\n\nvar result = [];\n\nfor (var circuit in registers) {\n\tregisters[circuit].forEach(function(reg) {\n\t\tresult.push({\n\t\t    topic: \"ebusd/\"+circuit+\"/\"+reg+\"/get\",\n\t\t    payload: 1\n\t\t});\n\t});\n}\n\nreturn [result];\n","outputs":1,"noerr":0,"x":314,"y":955,"wires":[["bfbb51aa.b99f28","88c094c0.dc7f"]]},{"id":"86a391ff.7a545","type":"inject","z":"b830962c.d8ca28","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":124,"y":955,"wires":[["6a2e31f2.c6b41"]]},{"id":"88c094c0.dc7f","type":"debug","z":"b830962c.d8ca28","name":"poll","active":false,"console":"false","complete":"true","x":534,"y":1045,"wires":[]},{"id":"58ca093.2ff1a78","type":"mqtt out","z":"b830962c.d8ca28","name":"HcStarts","topic":"ebusd/bai/HcStarts/get","qos":"","retain":"","broker":"4a184b82.8c2c8c","x":300,"y":1044,"wires":[]},{"id":"ca80f961.a04ed","type":"inject","z":"b830962c.d8ca28","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":120,"y":1044,"wires":[["58ca093.2ff1a78","e5b425d.d7724d8"]]},{"id":"e5b425d.d7724d8","type":"mqtt out","z":"b830962c.d8ca28","name":"HcHours","topic":"ebusd/bai/HcHours/get","qos":"","retain":"","broker":"4a184b82.8c2c8c","x":300,"y":1114,"wires":[]},{"id":"bce7d813.634ea8","type":"comment","z":"b830962c.d8ca28","name":"Poll MQTT","info":"","x":84,"y":895,"wires":[]},{"id":"960317ec.61fda","type":"comment","z":"b830962c.d8ca28","name":"Receive ebusd via MQTT","info":"","x":130,"y":40,"wires":[]},{"id":"fa7e889a.b77dd","type":"inject","z":"b830962c.d8ca28","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":134,"y":1275,"wires":[["42105328.6b98b4"]]},{"id":"dfa8626c.ffa31","type":"debug","z":"b830962c.d8ca28","name":"","active":false,"console":"false","complete":"payload","x":534,"y":1275,"wires":[]},{"id":"c9bb38b.cce2a48","type":"comment","z":"b830962c.d8ca28","name":"Update Volkszähler Channels","info":"","x":144,"y":1215,"wires":[]},{"id":"42105328.6b98b4","type":"public","z":"b830962c.d8ca28","name":"","middleware":"fd5fd0cd.3498e8","x":334,"y":1275,"wires":[["dfa8626c.ffa31"]]},{"id":"1e2231d5.16bdc6","type":"comment","z":"b830962c.d8ca28","name":"Connect Volkszähler","info":"","x":114,"y":455,"wires":[]},{"id":"560bef02.2b49d8","type":"uuid","z":"fdcf5ef4.578018","name":"","middleware":"fd5fd0cd.3498e8","x":110,"y":240,"wires":[["212809ae.5262fe","ed270bc6.c53cc8"]]},{"id":"fd737e52.02acf8","type":"debug","z":"fdcf5ef4.578018","name":"","active":true,"console":"false","complete":"true","x":520,"y":240,"wires":[]},{"id":"d994c85d.a70b4","type":"comment","z":"8e69b0b0.66c858","name":"Combine HcStarts registers","info":"","x":140,"y":40,"wires":[]},{"id":"90942410.58ba2","type":"comment","z":"fdcf5ef4.578018","name":"Connect Volkszähler","info":"","x":110,"y":170,"wires":[]},{"id":"61fbcb0a.f9b474","type":"subflow:cea00169.50bf88","z":"fdcf5ef4.578018","x":360,"y":330,"wires":[["d86cb220.0ff2c8"]]},{"id":"1da8ba2f.f6d24e","type":"uri","z":"cea00169.50bf88","name":"","middleware":"fd5fd0cd.3498e8","context":"data","format":"json","x":340,"y":30,"wires":[["d5ae0548.01173"]]},{"id":"a3208b15.262e3","type":"switch","z":"fdcf5ef4.578018","name":"","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"\\.L\\d","vt":"str","case":false},{"t":"else"}],"checkall":"false","outputs":2,"x":120,"y":460,"wires":[["d34931d8.fb41e8"],["fd8cfd0b.d9b54"]]},{"id":"d34931d8.fb41e8","type":"debug","z":"fdcf5ef4.578018","name":"","active":true,"console":"false","complete":"false","x":310,"y":450,"wires":[]},{"id":"fd8cfd0b.d9b54","type":"debug","z":"fdcf5ef4.578018","name":"","active":true,"console":"false","complete":"false","x":300,"y":510,"wires":[]},{"id":"1d8f055f.550693","type":"debug","z":"b830962c.d8ca28","name":"","active":false,"console":"false","complete":"true","x":630,"y":80,"wires":[]},{"id":"414802f.08133fc","type":"function","z":"b830962c.d8ca28","name":"Mixer","func":"// allow only Mixer messages below 100\n\nif (msg.topic.match(/Hc2MixerMovement/)) {\n    if (+msg.payload < 50) {\n        var date = new Date();\n        var hour = date.getHours();\n        var min = date.getMinutes();\n        var sec = date.getSeconds();\n    \n        hour = (hour < 10 ? \"0\" : \"\") + hour;\n        min = (min < 10 ? \"0\" : \"\") + min;\n        sec = (sec < 10 ? \"0\" : \"\") + sec;\n        \n        return {\n            topic: \"[alert] Heating\",\n            payload: \n                \"Hc2MixerMovement stuck or dead.\\n\"+\n                \"Last observed: \" + hour +\":\"+ min +\":\"+ sec\n        };\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["50067b7a.c853bc"]]},{"id":"62161bc9.00563c","type":"e-mail","z":"b830962c.d8ca28","server":"smtp.gmail.com","port":"465","secure":true,"name":"cpuidle@gmail.com","dname":"Alert","x":650,"y":240,"wires":[]},{"id":"50067b7a.c853bc","type":"trigger","z":"b830962c.d8ca28","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"30","extend":true,"units":"min","reset":"","name":"30min","x":470,"y":240,"wires":[["62161bc9.00563c"]]},{"id":"209a3cda.706cec","type":"trigger","z":"b830962c.d8ca28","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":true,"units":"min","reset":"","name":"5min","x":470,"y":180,"wires":[["62161bc9.00563c"]]},{"id":"7254ca8f.c1b184","type":"comment","z":"b830962c.d8ca28","name":"Alerting","info":"## ebusd/mqtt input\n\nMonitors if any messages are received from MQTT.\n\n## Hc2MixerMovement\n\nMonitors if Hc2MixerMovement is seen below 100, \ni.e. the mixer is not stuck.\n","x":670.5,"y":157,"wires":[]},{"id":"bb3296f9.19bf6","type":"function","z":"b830962c.d8ca28","name":"ebusd","func":"var date = new Date();\nvar hour = date.getHours();\nvar min = date.getMinutes();\nvar sec = date.getSeconds();\n\nhour = (hour < 10 ? \"0\" : \"\") + hour;\nmin = (min < 10 ? \"0\" : \"\") + min;\nsec = (sec < 10 ? \"0\" : \"\") + sec;\n\nreturn {\n    topic: \"[alert] ebusd\",\n    payload: \n        \"No message received for 5min. Ebusd or MQTT dead.\\n\"+\n        \"Last observed: \" + hour +\":\"+ min +\":\"+ sec\n};\n","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["209a3cda.706cec"]]},{"id":"5c4e7d95.e50ffc","type":"file","z":"b830962c.d8ca28","name":"","filename":"/data/ebusd.log","appendNewline":false,"createDir":false,"overwriteFile":"false","x":660,"y":40,"wires":[]},{"id":"2057f378.443cc4","type":"function","z":"b830962c.d8ca28","name":"Log","func":"if (msg.payload === undefined || msg.playload === \"\" || msg.payload == \"nan\" || Number.isNaN(msg.payload) || msg.payload === null || Buffer.isBuffer(msg.payload))\n{\n    return {\n        payload: msg.topic + \"\\n\"\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":328.5,"y":41,"wires":[["5c4e7d95.e50ffc"]]},{"id":"30bc3c1c.d28d5c","type":"mqtt in","z":"d1017bfd.9a4d68","name":"","topic":"ebus2/700/Hc1FlowTemp","qos":"2","broker":"4a184b82.8c2c8c","x":150,"y":80,"wires":[["1c607d41.5f89bb","8a98452d.882d88"]]},{"id":"1c607d41.5f89bb","type":"debug","z":"d1017bfd.9a4d68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":80,"wires":[]},{"id":"48c6328b.f7f024","type":"inject","z":"d1017bfd.9a4d68","name":"","topic":"ebus2/700/Hc1FlowTemp/get","payload":"1","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":280,"wires":[["1b31af35.6c6839"]]},{"id":"1b31af35.6c6839","type":"mqtt out","z":"d1017bfd.9a4d68","name":"","topic":"","qos":"","retain":"","broker":"4a184b82.8c2c8c","x":470,"y":280,"wires":[]},{"id":"8a98452d.882d88","type":"change","z":"d1017bfd.9a4d68","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Hc1FlowTempEbus2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":180,"wires":[["916f8884.5a9a58"]]},{"id":"916f8884.5a9a58","type":"uuid","z":"d1017bfd.9a4d68","name":"","middleware":"fd5fd0cd.3498e8","x":330,"y":180,"wires":[["9f05bfe4.125168"]]},{"id":"9f05bfe4.125168","type":"subflow:cea00169.50bf88","z":"d1017bfd.9a4d68","x":470,"y":180,"wires":[["1c607d41.5f89bb"]]},{"id":"caa311fd.93fdc8","type":"switch","z":"b830962c.d8ca28","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Hc1FlowTemp","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":140,"wires":[["5c96f7c.89c8188"]]},{"id":"8c2df78d.4378d8","type":"subflow:cea00169.50bf88","z":"b830962c.d8ca28","x":890,"y":320,"wires":[["ecce5c1.fc3672"]]},{"id":"5c96f7c.89c8188","type":"change","z":"b830962c.d8ca28","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Hc1FlowTempEbus1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":200,"wires":[["5a01064b.0fecd8"]]},{"id":"ecce5c1.fc3672","type":"debug","z":"b830962c.d8ca28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":380,"wires":[]},{"id":"5a01064b.0fecd8","type":"uuid","z":"b830962c.d8ca28","name":"","middleware":"fd5fd0cd.3498e8","x":890,"y":260,"wires":[["8c2df78d.4378d8"]]},{"id":"4365d8ce.b2daf","type":"comment","z":"b830962c.d8ca28","name":"Hc1FlowTempEbus1","info":"","x":930,"y":80,"wires":[]}]